# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz
src-i386/*
src-x64/*

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# vignette intermediate files
vignettes/*.aux
vignettes/*.bbl
vignettes/*.bcf
vignettes/*.blg
vignettes/*.log
vignettes/*.run.xml
vignettes/*.tex
vignettes/auto/*
vignettes/*.md

# produced vignettes
vignettes/*.docx
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# Local files
_no_install/
tests_local/
